<template>
  <section class="page hotel">
    <div class="page__body">
      <PriceFilter :price="context.price" />
      <CardsList :hotels="hotels" />
    </div>
  </section>
</template>

<script>
import CardsList from "../components/CardsList";
import PriceFilter from "../components/PriceFilter";

export default {
  props: ["context"],
  components: {
    CardsList,
    PriceFilter
  },
  computed: {
    hotels: {
      cache: false,
      get: function() {
        return this.context.hotels.filter(
          item => item.price >= this.context.price
        );
      }
    }
  }
};
</script>
