<template>
  <section class="page hotel">
    <header class="page__header">
      <button class="page__go-back" @click="handleClick">
        &larr; Назад к списку отелей
      </button>
    </header>
    <div class="page__body">
      <p>
        Спасибо за использование нашего сервиса! <br />
        Ваше бронирование в <b>{{ context.hotel.name }}</b> подтверждено.
      </p>
    </div>
  </section>
</template>

<script>
import EventBus from "../bus";

export default {
  props: ["context"],
  methods: {
    handleClick() {
      EventBus.$emit("update:page", {
        currentPage: "Home",
        hotel: {}
      });
    }
  }
};
</script>

<style scoped>
.page__go-back {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.page__body {
  padding-top: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 150%;
}
</style>
