<template>
  <div class="cards-list">
    <div class="cards-list__header">
      <p class="cards-list__caption">Найдено {{ hotels.length }} отелей</p>
    </div>
    <div class="cards-list__body">
      <Card v-for="(hotel, idx) in hotels" :key="idx" :hotel="hotel" />
    </div>
  </div>
</template>

<script>
import Card from "./Card.vue";

export default {
  props: ["hotels"],
  components: {
    Card
  }
};
</script>

<style scoped>
.cards-list {
  padding-top: 24px;
}

.cards-list__caption {
  margin: 0;
}
</style>
