<template>
  <div class="card">
    <div class="card__row">
      <h2 class="card__title">{{ hotel.name }}</h2>
      <p class="card__badge" v-if="hotel.selected">Текущий выбор</p>
    </div>
    <div class="card__row">
      <p class="card__price">{{ hotel.price }} рублей</p>
      <button class="card__more" @click="handleClick">Подробнее</button>
    </div>
  </div>
</template>

<script>
import EventBus from "../bus";

export default {
  props: ["hotel"],
  methods: {
    updateSelectedHotels() {
      const hotels = JSON.parse(localStorage.getItem("hotels"));
      const updated = [];
      for (const hotel of hotels) {
        if (hotel.name === this.hotel.name) {
          hotel.selected = true;
        }
        updated.push(hotel);
      }
      localStorage.setItem("hotels", JSON.stringify(updated));
      EventBus.$emit("update:hotels", updated);
    },
    handleClick() {
      this.updateSelectedHotels();
      EventBus.$emit("update:page", {
        currentPage: "Hotel",
        hotel: this.hotel
      });
    }
  }
};
</script>

<style scoped>
.card,
.card__row {
  display: flex;
}

.card {
  padding: 16px;
  margin-top: 24px;
  flex-direction: column;
  border: 1px solid var(--grey-100);
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 2px 8px var(--grey-100);
}

.card__row {
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.card__price {
  font-size: 18px;
  font-weight: bolder;
}

.card__more {
  color: var(--peach);
  cursor: pointer;
  border: 1px solid var(--peach);
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}

.card__more:hover {
  color: var(--white);
  background-color: var(--peach);
}

.card__badge {
  font-size: 16px;
  font-weight: bold;
}
</style>
