<template>
  <div class="filter">
    <label class="filter__label" for="filter">Стоимость за сутки</label>
    <div class="filter__group">
      <p class="filter__caption">от</p>
      <input
        class="filter__input"
        id="filter"
        type="number"
        v-model="priceModel"
      />
      <p class="filter__caption">рублей</p>
    </div>
  </div>
</template>

<script>
import bus from "../bus";

export default {
  props: ["price"],
  computed: {
    priceModel: {
      get() {
        return this.price;
      },
      set(value) {
        bus.$emit("update:price", value);
      }
    }
  }
};
</script>

<style scoped>
.filter,
.filter__group {
  display: flex;
  align-items: center;
}

.filter {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  justify-content: space-between;
}

.filter__label {
  font-size: 16px;
}

.filter__input {
  margin: 0 10px;
  padding: 4px;
}
</style>
