<template>
  <div id="app">
    <Layout />
  </div>
</template>

<script>
import Layout from "./layouts/Default";

export default {
  components: {
    Layout
  }
};
</script>

<style>
:root {
  --grey-100: rgba(0, 0, 0, 0.1);
  --grey-200: rgba(0, 0, 0, 0.2);
  --grey-300: rgba(0, 0, 0, 0.3);
  --grey-400: rgba(0, 0, 0, 0.4);
  --grey-500: rgba(0, 0, 0, 0.5);

  --black: #222222;
  --white: #fffffe;
  --light: #f7f7f7;
  --blue: #00214d;
  --green: #00ebc7;
  --peach: #ff5470;
  --yellow: #fde24f;
  --dark-blue: #1b2d45;
}

body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-height: calc(100vh - 20px * 2);
  background-color: var(--white);
}
</style>
