<template>
  <div class="layout">
    <component :is="context.currentPage" :context="context" />
  </div>
</template>

<script>
import EventBus from "../bus";
import Home from "../pages/Home";
import Hotel from "../pages/Hotel";

export default {
  components: {
    Home,
    Hotel
  },
  data() {
    return {
      context: {
        currentPage: "Home",
        price: 0,
        hotel: {},
        hotels: []
      }
    };
  },
  methods: {
    async uploadHotels() {
      let hotels = localStorage.getItem("hotels");
      if (hotels) {
        hotels = JSON.parse(hotels);
      } else {
        const resp = await fetch("./data.json");
        if (resp.ok) {
          hotels = await resp.json();
          localStorage.setItem("hotels", JSON.stringify(hotels));
        }
      }
      this.context.hotels = hotels;
    }
  },
  async mounted() {
    await this.uploadHotels();
    EventBus.$on("update:page", v => {
      this.context = { ...this.context, ...v };
    });
    EventBus.$on("update:price", v => {
      this.context.price = v;
    });
    EventBus.$on("update:hotels", v => {
      this.context.hotels = v;
    });
  }
};
</script>
